@model WebApplication1.Models.u_application

@{
    ViewBag.Title = "Details";
    var user = Session["user"] as WebApplication1.Models.utilisateur;
}

<h2>Details </h2>

<div>
    <h4>u_application</h4>
    <hr />
    <dl class="dl-horizontal">
        <img src="@Model.app_img" height="50px" width="50px" />
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.nom_app)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_app)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_telechargement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_telechargement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_ajout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_ajout)
        </dd>

        <dt>

        <dt>
            @Html.DisplayNameFor(model => model.u_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.u_description)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie1.nom_categorie)
        </dd>

        <dt>
            Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.utilisateur.nom_utilisateur)
        </dd>

    </dl>


</div>
<div style="border-radius:10px;
margin-right:50%;">
    @{
        foreach (var com in Model.review)
        {
            if (com.note == 1)
            {
                <div style="background-color : lime">
                    @com.Commentaire
                </div>
            }
            else if (com.note == 0)
            {

                <div style="background-color : lightcoral">
                    @com.Commentaire
                </div>
            }

            else
            {
                <div style="background-color:#ff8164">
                    @com.Commentaire
                </div>
            }
        }
    }
</div>    

<p>
    
    @if (user == Model.utilisateur || user.u_role =="Admin")
    {
    @Html.ActionLink("Delete", "Delete", "u_application", new { id = Model.id_app }, new {@class = "btn btn-danger"})
    }
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_app }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<form method="post" action=@Url.Action("Create","Reviews",new { id = Model.id_app})>
    @Html.AntiForgeryToken()

    <textarea name="commentaire" placeholder=" Your Comments ... " cols="50" rows="10"></textarea>
    <button type="submit" class="btn btn-success"> share </button>
</form>
