@model IEnumerable<WebApplication1.Models.u_application>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.app_img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom_app)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_telechargement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_ajout)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.u_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categorie1.nom_categorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.utilisateur.nom_utilisateur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.app_img" width="50px" height="50px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom_app)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_telechargement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_ajout)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.u_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorie1.nom_categorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.utilisateur.nom_utilisateur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id_app }) |
            @Html.ActionLink("Details", "Details", new { id = item.id_app }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id_app })
        </td>
    </tr>
}

</table>
