@model IEnumerable<WebApplication1.Models.review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_application.nom_app)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.utilisateur.nom_utilisateur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_application.nom_app)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.utilisateur.nom_utilisateur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_review }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_review }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_review })
        </td>
    </tr>
}

</table>
