@model IEnumerable<WebApplication1.Models.utilisateur>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_utilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_naissance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motdepasse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_utilisateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_naissance.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motdepasse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_user }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_user }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_user })
        </td>
    </tr>
}

</table>
